
div{
    width:400px;
    height:400px;
    text-align:center;
    background-color:#7aa874;
   
      margin:10px auto;
     background-image: url("nature.jpg");
     background-size: cover;
     color:white;
}
