div{
    height: 200px;
    width: 500px;
    background-color: pink;
    /*border-width: 5px;
    border-style: solid;
    border-color:black;*/
    border: 5px solid black;
    border-left-color:blue;
    border-left-style:dashed;
    border-top-right-radius:50px;
    padding-top:  100px; 
    margin-bottom: 25px;
    margin-left: 25px;
    /*or margin:20px*/

}

h1{
    border-width: 2px;
    border-style: dashed;
    border-color: purple;
    border-radius: 50%;
    margin:0px;
}

button{
    border: 2px solid black;
   /* border-radius:10px;*/
    /*padding-left:25px;
    padding-right:25px;*/
    padding: 10px 25px;
    /*or padding: 0px 30px 0px 30px*/
    background-color:yellow;
}