.face{
    width:400px;
    height:400px;
    background-color: aqua;
    border-radius: 50%;
}
.mouth{
    width: 200;
    height: 75;
    background-color: brown;
    border-radius: 0 0 50px;
    position: absolute;
    top: 250;
    left: 100;
}
.left-eye
.right-eye{
    width: 50;
    height: 50;
border-radius: 50%;
background-color: black;
display: inline-block;
position: absolute;
left: 100px;
top: 100px;
}
.right-eye{
    left: 250px;
}
