h3{
    background-color: darkorchid !important;
}

*{
    font-family:"Courier New";
}
h1,
h3{
color:#b92b27;
}

#login{
    background-color:white;
}

#signup{
    background-color:#b92b27;
    color:white;
}

.upvote{
    background-color:rgb(59, 216, 59);
    color:aliceblue;
}
/*descendant selector*/
.post a{
    color:purple;
    background-color:yellow;
}
nav ul li a{
    color:hotpink;
}
p+h3{
    text-decoration:underline;
}
.upvote + button{
    background-color: cornflowerblue;
    color:darkblue;
}
div > input{
 background-color: darkgray;
}
input[type="text"]{
    color:green;
}
input[type="password"]{
    color:red;
}
input[type]{
    background-color:ghostwhite;
}
/*#myID p {
  color:green;
}*/
/*or another way*/
div[id="myID"] p {
    color:green;
}


button:hover{
    background-color:black;
    color:white;
}
/*h3:hover{
    text-decoration:overline;
}*/

p:active{
    font-weight:bold;
    color:green;
}

input[type="radio"]:checked +label{
    color:red;
    font-weight:bold;
}
.post:nth-of-type(2){
    background-color:blanchedalmond;
}
div:nth-of-type(2n){
    background-color:blanchedalmond;
}
h1::first-letter{
    color:black;
}
p::first-line{
    color:blue;
}
p::selection{
    background-color:rgb(199,199,58);
}
h3 {
    background-color: blue;
}
h3 {
    background-color: aqua;
}