div {
    height: 200px;
    width: 200px;
    background-color: rgba(119, 255, 0, 0.5);
    transition-duration:1s;
    transition-delay:1s;
}

div:hover{
    background-color: black;
    border-radius:50%;
}