div {
    height: 200px;
    width: 200px;
    background-color: rgba(134, 251, 206, 0.5);
    margin:0 auto;
    margin-top:10px;
    transition:margin-top 2s ease-in-out 0.2s;
}

div:hover{
margin-top:400px;
background-color:pink;
}